body {
    background-color: #121212;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: bold;
}

.border {
    border: 1px solid #ddd;
}

.result-card {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    font-size: 14px;
}